@page "/purchaseorders"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ETPrintshopWeb.Data.ApplicationDbContext DB
@using ETPrintshopWeb.Data

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="purchaseorders/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.PurchaseOrders">
    <PropertyColumn Property="purchaseorder => purchaseorder.Status" />
    <PropertyColumn Property="purchaseorder => purchaseorder.DateCreated" />
    <PropertyColumn Property="purchaseorder => purchaseorder.SupplierName" />
    <PropertyColumn Property="purchaseorder => purchaseorder.RequesterName" />
    <PropertyColumn Property="purchaseorder => purchaseorder.DeliverySchedule" />
    <PropertyColumn Property="purchaseorder => purchaseorder.PaymentType" />
    <PropertyColumn Property="purchaseorder => purchaseorder.Notes" />

    <TemplateColumn Context="purchaseorder">
        <a href="@($"purchaseorders/edit?id={purchaseorder.Id}")">Edit</a> |
        <a href="@($"purchaseorders/details?id={purchaseorder.Id}")">Details</a> |
        <a href="@($"purchaseorders/delete?id={purchaseorder.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
