@inherits LayoutComponentBase

<div class="page" style="height:100vh;overflow:hidden;">
    <div class="sidebar" style="overflow:auto;">
        <NavMenu />
    </div>

    <main style="overflow:auto;background-color:#DDD8D8;">
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4" style="background-color:#DDD8D8;height:100%;padding:1rem 0 3rem 0;overflow:auto;">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
