@page "/requisitionforms"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ETPrintshopWeb.Data.ApplicationDbContext DB
@using ETPrintshopWeb.Data

<PageTitle>Index</PageTitle>

<h1>Requisitions</h1>

<p>
    <a href="requisitionforms/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.RequisitionForms">
    <PropertyColumn Title="Date Created" Property="requisitionform => requisitionform.DateRequested" />
    <PropertyColumn Title="JO No." Property="requisitionform => requisitionform.JONumber" />
    <PropertyColumn Property="requisitionform => requisitionform.DeliveryDate" />
    <PropertyColumn Property="requisitionform => requisitionform.Status" />
@*     <PropertyColumn Property="requisitionform => requisitionform.ReceivedBy" />
    <PropertyColumn Property="requisitionform => requisitionform.ApprovedBy" /> *@

    <TemplateColumn Context="requisitionform">
        <a href="@($"requisitionforms/edit?id={requisitionform.Id}")">Edit</a> |
        <a href="@($"requisitionforms/details?id={requisitionform.Id}")">Details</a> |
        <a href="@($"requisitionforms/delete?id={requisitionform.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
