@page "/purchaseorderitems"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject ETPrintshopWeb.Data.ApplicationDbContext DB
@using ETPrintshopWeb.Data

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="purchaseorderitems/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.PurchaseOrderItems">
    <PropertyColumn Property="purchaseorderitem => purchaseorderitem.Item" />
    <PropertyColumn Property="purchaseorderitem => purchaseorderitem.Quantity" />
    <PropertyColumn Property="purchaseorderitem => purchaseorderitem.Unit" />
    <PropertyColumn Property="purchaseorderitem => purchaseorderitem.Price" />
    <PropertyColumn Property="purchaseorderitem => purchaseorderitem.Description" />

    <TemplateColumn Context="purchaseorderitem">
        <a href="@($"purchaseorderitems/edit?id={purchaseorderitem.Id}")">Edit</a> |
        <a href="@($"purchaseorderitems/details?id={purchaseorderitem.Id}")">Details</a> |
        <a href="@($"purchaseorderitems/delete?id={purchaseorderitem.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
