@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height:100%;">
    <h1 class="mb-5">About Us</h1>

    <h2 class="mb-5">We are open from Monday to Saturday, from 8:00 am to 5:00 pm.</h2>

    <h5>We use high-quality materials and equipment to deliver fast and reliable service at affordable prices. You can find us at 257 R Dela Serna St., Poblacion, Lapu-Lapu City, Philippines, 6015. We serve customers in Lapu-Lapu, Metro Manila, Americana, and beyond. You can contact us by phone at (032) 340 5438 or by email at myetprintshoppe@yahoo.com. You can also follow us on Facebook to see our latest offers and promotions. We are open from Monday to Saturday, from 8:00 am to 5:00 pm. We offer delivery, in-store pickup, and in-store shopping options for your convenience. Come and visit us today and see why we are the best print shop in town.</h5>
</div>